.filter-sort-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
}

label {
  font-weight: bold;
}

select {
  padding: 8px;
  font-size: 14px;
}